<!DOCTYPE html>
<html lang="en">


	<h1>Pharmacy List</h1>
	
<table class="table table-condensed table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Area</th>
                <th>Description</th>
                <th>Address</th>
                <th>Contact</th>
            </tr>
            </thead>
            <tbody>
                <% for(var i=0; i<pharmacy.length; i++) { %>
    
            <tr>
                <td><%= pharmacy[i].name %></td>
                <td><%= pharmacy[i].area%></td>
                <td><%= pharmacy[i].description%></td>
                <td><%=pharmacy[i].address%></td>
                <td><%=pharmacy[i].contact%></td>
            </tr>
            <% } %>
            
            </tbody>
		</table>
<% console.log(pharmacy) %>
  
    
</html>